<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
  <div
    class="container-fluid container-xl d-flex align-items-center justify-content-lg-between"
  >
    <h1 class="logo me-auto me-lg-0">
      <a href="index.html">Epicurean Symphony</a>
    </h1>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <li><a class="nav-link scrollto" href="#menu">Menu</a></li>
        <li><a class="nav-link scrollto" href="#events">Events</a></li>
        <li><a class="nav-link scrollto" href="#chefs">Sustainability</a></li>
        <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li>

        <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
    <a href="#book-a-table" class="book-a-table-btn scrollto d-none d-lg-flex"
      >Book a table</a
    >
  </div>
</header>
<!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div
    class="container position-relative text-center text-lg-start"
    data-aos="zoom-in"
    data-aos-delay="100"
  >
    <div class="row">
      <div class="col-lg-8">
        <h1>Welcome to <span>Epicurean Symphony</span></h1>
        <h2>Delivering great food for more than 18 years!</h2>

        <div class="btns">
          <a href="#menu" class="btn-menu animated fadeInUp scrollto"
            >Our Menu</a
          >
          <a href="#book-a-table" class="btn-book animated fadeInUp scrollto"
            >Book a Table</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-6 order-1 order-lg-2"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="about-img">
            <img src="../assets/img/about.jpg" alt="" />
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>{{ locationData.address }}</h3>
          <p class="fst-italic">
            {{ ambianceData?.description }}
          </p>
          <ul>
            <li>
              <mat-icon style="padding-top: 10px">check_circle</mat-icon>
              Experience exquisite flavors crafted with passion, bringing you a
              culinary journey like no other.
            </li>
            <li>
              <mat-icon style="padding-top: 10px">check_circle</mat-icon>
              Indulge in a symphony of tastes and textures, where every dish
              tells a story of culinary artistry.
            </li>
            <li>
              <mat-icon style="padding-top: 10px">check_circle</mat-icon>
              Immerse yourself in the perfect blend of tradition and innovation,
              as our chefs create memorable dining moments for you.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Why Us</h2>
        <p>Why Choose Our Restaurant</p>
      </div>

      <div class="row">
        <!-- Loop through awardsData to dynamically generate award boxes -->
        <div
          *ngFor="let award of awardsData"
          class="col-lg-4"
          style="margin-bottom: 1rem"
        >
          <div
            class="box"
            data-aos="zoom-in"
            [attr.data-aos-delay]="100 + 100 * award.delay"
          >
            <span><mat-icon>star_border</mat-icon> {{ award.year }}</span>
            <h4>{{ award.organization }}</h4>
            <p>{{ award.award }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Menu</h2>
        <p>Check Our Tasty Menu</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*" class="filter-active">All Our Delicacies</li>
          </ul>
        </div>
      </div>

      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
        <div class="row">
          <!-- Artisanal Appetizers - Mango Tango Ceviche -->
          <div
            *ngFor="let menu of artisanalAppetizersData"
            class="col-lg-6 menu-item"
          >
            <img
              [src]="'../assets/img/menu/' + menu.image"
              class="menu-img"
              [alt]="menu.name"
              style="height: 4rem; width: 4rem"
            />
            <div class="menu-content">
              <a href="#">{{ menu.name }}</a
              ><span>{{ "$" + menu.price.toFixed(2) }}</span>
            </div>
            <div class="menu-ingredients">
              {{ menu.ingredients.join(", ") }}
            </div>
            <p style="color: white; position: relative; padding-left: 6.5rem">
              {{ menu.description }}
            </p>
            <p style="color: white; position: relative; padding-left: 9rem">
              calories- {{ menu.nutritional_info.calories }} | protein-
              {{ menu.nutritional_info.protein }} | carbohydrates-
              {{ menu.nutritional_info.carbohydrates }} | fat-
              {{ menu.nutritional_info.fat }}
            </p>
          </div>


          <!-- Global Fusion Entrees - Saffron-Spiced Chicken Tikka Masala -->
          <div
            *ngFor="let menu of globalFusionEntreesData"
            class="col-lg-6 menu-item"
          >
            <img
              [src]="'../assets/img/menu/' + menu.image"
              class="menu-img"
              [alt]="menu.name"
              style="height: 4rem; width: 4rem"
            />
            <div class="menu-content">
              <a href="#">{{ menu.name }}</a
              ><span>{{ "$" + menu.price.toFixed(2) }}</span>
            </div>
            <div class="menu-ingredients">
              {{ menu.ingredients.join(", ") }}
            </div>
            <p style="color: white; position: relative; padding-left: 6.5rem">
              {{ menu.description }}
            </p>
            <p style="color: white; position: relative; padding-left: 9rem">
              calories- {{ menu.nutritional_info.calories }} | protein-
              {{ menu.nutritional_info.protein }} | carbohydrates-
              {{ menu.nutritional_info.carbohydrates }} | fat-
              {{ menu.nutritional_info.fat }}
            </p>
          </div>
          
          

          <!-- Epicurean Indulgences - Passion Fruit Cheesecake -->
          <div
            *ngFor="let menu of epicureanIndulgencesData"
            class="col-lg-6 menu-item"
          >
            <img
              [src]="'../assets/img/menu/' + menu.image"
              class="menu-img"
              [alt]="menu.name"
              style="height: 4rem; width: 4rem"
            />
            <div class="menu-content">
              <a href="#">{{ menu.name }}</a
              ><span>{{ "$" + menu.price.toFixed(2) }}</span>
            </div>
            <div class="menu-ingredients">
              {{ menu.ingredients.join(", ") }}
            </div>
            <p style="color: white; position: relative; padding-left: 6.5rem">
              {{ menu.description }}
            </p>
            <p style="color: white; position: relative; padding-left: 9rem">
              calories- {{ menu.nutritional_info.calories }} | protein-
              {{ menu.nutritional_info.protein }} | carbohydrates-
              {{ menu.nutritional_info.carbohydrates }} | fat-
              {{ menu.nutritional_info.fat }}
            </p>
          </div>

          <!-- Seasonal Symphony - Butternut Squash Sage Risotto -->
          <div
            *ngFor="let menu of seasonalMenuData"
            class="col-lg-6 menu-item"
          >
            <img
              [src]="'../assets/img/menu/' + menu.image"
              class="menu-img"
              [alt]="menu.name"
              style="height: 4rem; width: 4rem"
            />
            <div class="menu-content">
              <a href="#">{{ menu.name }}</a
              ><span>{{ "$" + menu.price.toFixed(2) }}</span>
            </div>
            <div class="menu-ingredients">
              {{ menu.ingredients.join(", ") }}
            </div>
            <p style="color: white; position: relative; padding-left: 6.5rem">
              {{ menu.description }}
            </p>
            <p style="color: white; position: relative; padding-left: 9rem">
              calories- {{ menu.nutritional_info.calories }} | protein-
              {{ menu.nutritional_info.protein }} | carbohydrates-
              {{ menu.nutritional_info.carbohydrates }} | fat-
              {{ menu.nutritional_info.fat }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Menu Section -->

  <!-- ======= Events Section ======= -->
  <section id="events" class="events">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Events</h2>
        <p>Upcoming Events</p>
      </div>

      <div
        class="events-slider swiper-container"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="swiper-wrapper">
          <div
            class="swiper-slide"
            style="margin-bottom: 3rem"
            *ngFor="let event of eventsData"
          >
            <div class="row event-item">
              <div class="col-lg-6">
                <img
                  src="../assets/img/event-private.jpg"
                  class="img-fluid"
                  style="height: 10rem; width: 20rem"
                  alt="{{ event.name }} "
                />
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>{{ event.name }}</h3>
                <div class="price">
                  <p>
                    <span>{{ event.date }}</span>
                  </p>
                </div>
                <p class="fst-italic">
                  {{ event.description }}
                </p>
              </div>
            </div>
          </div>

          <!-- End testimonial item -->
        </div>
      </div>
    </div>
  </section>
  <!-- End Events Section -->

  <!-- ======= Book A Table Section ======= -->
  <section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Reservation</h2>
        <p>Book a Table</p>
      </div>

      <form
        action="forms/book-a-table"
        method="post"
        role="form"
        class="php-email-form"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="row">
          <div class="col-lg-4 col-md-6 form-group">
            <input
              type="text"
              name="name"
              class="form-control"
              id="name"
              placeholder="Your Name"
              data-rule="minlen:4"
              data-msg="Please enter at least 4 chars"
            />
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              placeholder="Your Email"
              data-rule="email"
              data-msg="Please enter a valid email"
            />
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <input
              type="text"
              class="form-control"
              name="phone"
              id="phone"
              placeholder="Your Phone"
              data-rule="minlen:4"
              data-msg="Please enter at least 4 chars"
            />
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input
              type="text"
              name="date"
              class="form-control"
              id="date"
              placeholder="Date"
              data-rule="minlen:4"
              data-msg="Please enter at least 4 chars"
            />
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input
              type="text"
              class="form-control"
              name="time"
              id="time"
              placeholder="Time"
              data-rule="minlen:4"
              data-msg="Please enter at least 4 chars"
            />
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input
              type="number"
              class="form-control"
              name="people"
              id="people"
              placeholder="# of people"
              data-rule="minlen:1"
              data-msg="Please enter at least 1 chars"
            />
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-group mt-3">
          <textarea
            class="form-control"
            name="message"
            rows="5"
            placeholder="Message"
          ></textarea>
          <div class="validate"></div>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">
            Your booking request was sent. We will call back or send an Email to
            confirm your reservation. Thank you!
          </div>
        </div>
        <div class="text-center">
          <button type="submit">Book a Table</button>
        </div>
      </form>
    </div>
  </section>
  <!-- End Book A Table Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Testimonials</h2>
        <p>What they're saying about us</p>
      </div>

      <div class="row testimonial-container">
        <div class="testimonial" *ngFor="let review of reviewsData">
          <span class="open quote">“</span>
          <div class="image">
            <div class="clip"></div>
            <img src="{{ review.image }}" />
          </div>
          <p>
            {{ review.comment }} {{ review.rating }}
            <mat-icon style="padding-top: 4px">star_border</mat-icon>
          </p>
          <div class="source">
            <span>{{ review.customer_name }}</span>
          </div>
          <span class="close quote">”</span>
        </div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->

  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Gallery</h2>
        <p>Some photos from Our Restaurant</p>
      </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-0">
        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="../assets/img/gallery/gallery-1.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="../assets/img/gallery/gallery-1.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="../assets/img/gallery/gallery-2.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="../assets/img/gallery/gallery-2.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="../assets/img/gallery/gallery-3.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="../assets/img/gallery/gallery-3.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="../assets/img/gallery/gallery-4.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="../assets/img/gallery/gallery-4.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="../assets/img/gallery/gallery-5.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="../assets/img/gallery/gallery-5.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="../assets/img/gallery/gallery-6.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="../assets/img/gallery/gallery-6.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="../assets/img/gallery/gallery-7.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="../assets/img/gallery/gallery-7.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="../assets/img/gallery/gallery-8.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="../assets/img/gallery/gallery-8.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Gallery Section -->

  <!-- ======= Chefs Section ======= -->
  <section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Sustainability</h2>
        <p>Our Initiatives</p>
      </div>

      <div class="row">
        <div
          class="col-lg-4 col-md-6"
          *ngFor="let initiative of sustainabilityData"
        >
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img
              src="../assets/img/hannah-busing-rYWEj9Cyx7E-unsplash.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>{{ initiative.name }}</h4>
                <span>{{ initiative.description }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Chefs Section -->

  <!-- nenwnwnwn-->
  <section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up" style="justify-content: center">
      <div class="section-title">
        <h2>Chef</h2>
        <p>Our Chefs</p>
      </div>

      <div class="row" style="justify-content: center">
        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img
              src="../assets/img/chefs/chefs-2.jpg"
              class="img-fluid"
              alt=""
            />
            <div class="member-info">
              <div class="member-info-content">
                <h4>{{ chefData.name }}</h4>
                <span>{{ chefData.bio }}</span>
                <span
                  style="
                    font-size: 20px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                      sans-serif;
                  "
                >
                  {{ chefData.signature_dish }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>
    </div>

    <div data-aos="fade-up">
      <iframe
        style="border: 0; width: 100%; height: 350px"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0060!3d40.7128!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>

    <div class="container" data-aos="fade-up">
      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>{{ locationData.address }}</p>
              <p>latitude: {{ locationData.latitude }}</p>
              <p>longitude: {{ locationData.longitude }}</p>
            </div>

            <div class="open-hours">
              <i class="bi bi-clock"></i>
              <h4>Open Hours:</h4>
              <p>
                Monday-Saturday:<br />
                11:00 AM - 2300 PM
              </p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>infoexample.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+91 2005717717</p>
            </div>
          </div>
        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
          <form
            action="forms/contact"
            method="post"
            role="form"
            class="php-email-form"
          >
            <div class="row">
              <div class="col-md-6 form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                  required
                />
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Your Email"
                  required
                />
              </div>
            </div>
            <div class="form-group mt-3">
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Subject"
                required
              />
            </div>
            <div class="form-group mt-3">
              <textarea
                class="form-control"
                name="message"
                rows="8"
                placeholder="Message"
                required
              ></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>Epicurean Symphony</h3>

            <div class="mt-3">
              <a
                *ngIf="onlinePresenceData.website"
                [href]="onlinePresenceData.website"
                target="_blank"
              >
                <img
                  src="../assets/icons8-website-40.png"
                  alt="Website"
                  style="margin: 1rem"
                />
              </a>
              <a
                *ngIf="
                  onlinePresenceData.social_media &&
                  onlinePresenceData.social_media.facebook
                "
                [href]="onlinePresenceData.social_media.facebook"
                target="_blank"
              >
                <img
                  src="../assets/icons8-facebook-40.png"
                  alt="Facebook"
                  style="margin: 1rem"
                />
              </a>
              <a
                *ngIf="
                  onlinePresenceData.social_media &&
                  onlinePresenceData.social_media.instagram
                "
                [href]="onlinePresenceData.social_media.instagram"
                target="_blank"
              >
                <img
                  src="../assets/icons8-instagram-50.png"
                  alt="Instagram"
                  style="margin: 1rem"
                />
              </a>
              <a
                *ngIf="
                  onlinePresenceData.social_media &&
                  onlinePresenceData.social_media.twitter
                "
                [href]="onlinePresenceData.social_media.twitter"
                target="_blank"
              >
                <img
                  src="../assets/icons8-twitter-48.png"
                  alt="Twitter"
                  style="margin: 1rem"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
